@import "tailwindcss";

 html, body {
  height: 100%;
  margin: 0;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

 @theme{
  --color-borderWhite:#E5E5E5;
  --color-dimwhite:#CFCFCF;
  --color-mainOrange:#F49B48;
  --color-borderBack:#F5F5F5;
  --color-placeholder:rgba(130,130,130,0.55);
  --color-borderText:#828282;
  --color-borderBacksecond:rgba(255,255,255,0.08);
  --color-borderGray:rgba(255,255,255,0.5);
  --color-lightBlack:#171719;
  --color-lightText:rgba(0,0,0,0.48);
  --color-borderDark:#8E8E8E;
  --color-darkenBorder:#C1C1C1;
  --color-grayWhite:rgba(200,200,200,1);
  --animate-marquee:marquee-right 8s linear infinite;;
}


@layer utilities{
  .Nav {
    @apply border-2 w-35 border-borderWhite flex items-center justify-center h-12
  }
  .blackBorderHeight{
    @apply absolute   h-0.5 left-2 right-2 bg-lightBlack
  }
  .blackBorderWidth{
    @apply absolute    w-0.5 top-2 bottom-2 bg-lightBlack
  } 
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}